In [1]:
import sys
sys.path.insert(0, "..")

In [2]:
from broker.fyers import create_client

/Users/satyajitghana/Projects/hagrid-ai/.venv/lib/python3.12/site-packages/fyers_apiv3/FyersWebsocket/order_ws.py:2: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  from pkg_resources import resource_filename

In [3]:
client = create_client(
    client_id="TX4LY7JMLL-100",  # Replace with your app ID
    secret_key="5L72OBKPUM",  # Replace with your secret
    token_file="../fyers_token.json",  # Optional: persist tokens
    redirect_uri="http://fyers.localhost:9000/"
)

2026-01-12 15:21:19 | fyers.rate_limiter | INFO | Rate limiter initialized: 10/s, 200/min, 100000/day
2026-01-12 15:21:19 | fyers.http_client | INFO | HTTP client initialized for https://api-t1.fyers.in/api/v3
2026-01-12 15:21:19 | fyers.oauth | INFO | OAuth handler initialized for client: TX4LY7JMLL-100
2026-01-12 15:21:19 | fyers.client | INFO | FyersClient initialized for client_id: TX4LY7JMLL-100

In [5]:
token = await client.authenticate()

2026-01-12 15:21:26 | fyers.client | INFO | Token validated for user: SATYAJIT GHANA (XS68198)
2026-01-12 15:21:26 | fyers.client | INFO | Using existing valid token from storage

In [6]:
token

TokenData(access_token='***REDACTED***', has_refresh_token=True, expired=False, created_at=2026-01-12T09:51:20.117443)

In [7]:
quotes = await client.get_quotes(symbols=["NSE:SBIN-EQ", "NSE:INFY-EQ"])

In [8]:
quotes

QuotesResponse(s='ok', code=200, d=[QuoteData(n='NSE:SBIN-EQ', s='ok', v={'ask': 1014.35, 'bid': 1014.2, 'chp': 1.37, 'ch': 13.7, 'description': 'NSE:SBIN-EQ', 'exchange': 'NSE', 'fyToken': '10100000003045', 'high_price': 1017.25, 'low_price': 996, 'lp': 1014.2, 'open_price': 1008, 'original_name': 'NSE:SBIN-EQ', 'prev_close_price': 1000.5, 'short_name': 'SBIN-EQ', 'spread': 0.15, 'symbol': 'NSE:SBIN-EQ', 'tt': '1768176000', 'volume': 7313988, 'atp': 1005.85}), QuoteData(n='NSE:INFY-EQ', s='ok', v={'ask': 1596.4, 'bid': 1596.3, 'chp': -1.1, 'ch': -17.8, 'description': 'NSE:INFY-EQ', 'exchange': 'NSE', 'fyToken': '10100000001594', 'high_price': 1613.3, 'low_price': 1592.6, 'lp': 1596.3, 'open_price': 1610.1, 'original_name': 'NSE:INFY-EQ', 'prev_close_price': 1614.1, 'short_name': 'INFY-EQ', 'spread': 0.1, 'symbol': 'NSE:INFY-EQ', 'tt': '1768176000', 'volume': 6603676, 'atp': 1599.88})])

In [8]:
quotes.d[0]

QuoteData(n='NSE:SBIN-EQ', s='ok', v={'ask': 1000.5, 'bid': 0, 'chp': 0.25, 'ch': 2.5, 'description': 'NSE:SBIN-EQ', 'exchange': 'NSE', 'fyToken': '10100000003045', 'high_price': 1008, 'low_price': 994, 'lp': 1000.5, 'open_price': 996, 'original_name': 'NSE:SBIN-EQ', 'prev_close_price': 998, 'short_name': 'SBIN-EQ', 'spread': 0, 'symbol': 'NSE:SBIN-EQ', 'tt': '1767916800', 'volume': 7809460, 'atp': 1001.78})

In [9]:
market_depth = await client.get_market_depth(symbol="NSE:RELIANCE-EQ")

In [10]:
market_depth

MarketDepthResponse(s='ok', d={'NSE:RELIANCE-EQ': MarketDepthData(totalbuyqty=1920, totalsellqty=0, bids=[MarketDepthLevel(price=1475.3, volume=1920, ord=55), MarketDepthLevel(price=0.0, volume=0, ord=0), MarketDepthLevel(price=0.0, volume=0, ord=0), MarketDepthLevel(price=0.0, volume=0, ord=0), MarketDepthLevel(price=0.0, volume=0, ord=0)], ask=[MarketDepthLevel(price=0.0, volume=0, ord=0), MarketDepthLevel(price=0.0, volume=0, ord=0), MarketDepthLevel(price=0.0, volume=0, ord=0), MarketDepthLevel(price=0.0, volume=0, ord=0), MarketDepthLevel(price=0.0, volume=0, ord=0)], o=1465.0, h=1479.9, l=1465.0, c=1470.6, chp=0.32, tick_Size=0.1, ch=4.7, ltq=10, ltt=1767954540, ltp=1475.3, v=8335311, atp=1472.13, lower_ckt=1327.8, upper_ckt=1622.8, expiry='', oi=0.0, oiflag=False, pdoi=0, oipercent=0.0)}, message='Success')

In [11]:
market_depth.d['NSE:RELIANCE-EQ']

MarketDepthData(totalbuyqty=1920, totalsellqty=0, bids=[MarketDepthLevel(price=1475.3, volume=1920, ord=55), MarketDepthLevel(price=0.0, volume=0, ord=0), MarketDepthLevel(price=0.0, volume=0, ord=0), MarketDepthLevel(price=0.0, volume=0, ord=0), MarketDepthLevel(price=0.0, volume=0, ord=0)], ask=[MarketDepthLevel(price=0.0, volume=0, ord=0), MarketDepthLevel(price=0.0, volume=0, ord=0), MarketDepthLevel(price=0.0, volume=0, ord=0), MarketDepthLevel(price=0.0, volume=0, ord=0), MarketDepthLevel(price=0.0, volume=0, ord=0)], o=1465.0, h=1479.9, l=1465.0, c=1470.6, chp=0.32, tick_Size=0.1, ch=4.7, ltq=10, ltt=1767954540, ltp=1475.3, v=8335311, atp=1472.13, lower_ckt=1327.8, upper_ckt=1622.8, expiry='', oi=0.0, oiflag=False, pdoi=0, oipercent=0.0)

## History

In [28]:
history = await client.get_history(symbol='NSE:RELIANCE-EQ', resolution="D", date_format=1, range_from='2025-01-10', range_to='2026-01-10')

In [29]:
history.dataframe

,epoch,open,high,low,close,volume,datetime
0,1736467200,1253.85,1256.75,1236.00,1241.90,8120332,2025-01-10 05:30:00+05:30
1,1736726400,1230.00,1245.25,1226.40,1239.85,13764861,2025-01-13 05:30:00+05:30
2,1736812800,1244.10,1253.35,1227.25,1238.75,13095266,2025-01-14 05:30:00+05:30
3,1736899200,1244.95,1257.00,1241.85,1252.20,9578856,2025-01-15 05:30:00+05:30
4,1736985600,1258.90,1275.00,1251.30,1266.45,14117603,2025-01-16 05:30:00+05:30
...,...,...,...,...,...,...,...
244,1767571200,1593.00,1611.80,1575.30,1578.10,8704973,2026-01-05 05:30:00+05:30
245,1767657600,1569.00,1569.00,1496.30,1507.60,27417125,2026-01-06 05:30:00+05:30
246,1767744000,1510.00,1520.00,1498.00,1504.20,11199340,2026-01-07 05:30:00+05:30
247,1767830400,1500.00,1503.90,1468.80,1470.60,16518684,2026-01-08 05:30:00+05:30
248,1767916800,1465.00,1479.90,1465.00,1475.30,8335311,2026-01-09 05:30:00+05:30

In [30]:
import plotly.graph_objects as go
import pandas as pd
import plotly.io as pio
pio.renderers.default = 'iframe'

In [31]:
history = history.dataframe

In [32]:
history['time'] = pd.to_datetime(history['epoch'], unit='s')

In [33]:
history

,epoch,open,high,low,close,volume,datetime,time
0,1736467200,1253.85,1256.75,1236.00,1241.90,8120332,2025-01-10 05:30:00+05:30,2025-01-10
1,1736726400,1230.00,1245.25,1226.40,1239.85,13764861,2025-01-13 05:30:00+05:30,2025-01-13
2,1736812800,1244.10,1253.35,1227.25,1238.75,13095266,2025-01-14 05:30:00+05:30,2025-01-14
3,1736899200,1244.95,1257.00,1241.85,1252.20,9578856,2025-01-15 05:30:00+05:30,2025-01-15
4,1736985600,1258.90,1275.00,1251.30,1266.45,14117603,2025-01-16 05:30:00+05:30,2025-01-16
...,...,...,...,...,...,...,...,...
244,1767571200,1593.00,1611.80,1575.30,1578.10,8704973,2026-01-05 05:30:00+05:30,2026-01-05
245,1767657600,1569.00,1569.00,1496.30,1507.60,27417125,2026-01-06 05:30:00+05:30,2026-01-06
246,1767744000,1510.00,1520.00,1498.00,1504.20,11199340,2026-01-07 05:30:00+05:30,2026-01-07
247,1767830400,1500.00,1503.90,1468.80,1470.60,16518684,2026-01-08 05:30:00+05:30,2026-01-08
248,1767916800,1465.00,1479.90,1465.00,1475.30,8335311,2026-01-09 05:30:00+05:30,2026-01-09

In [34]:
fig = go.Figure(
    data=[go.Candlestick(x=history['time'], open=history['open'], high=history['high'], low=history['low'], close=history['close'])]
)

In [35]:
fig.show()

## Options Chain

In [36]:
oc = await client.get_option_chain(symbol='NSE:RELIANCE-EQ', strike_count=50)

In [37]:
ocdf = oc.dataframe
ocdf

,ask,bid,description,ex_symbol,exchange,fp,fpch,fpchp,fyToken,ltp,ltpch,ltpchp,option_type,strike_price,symbol,oi,oich,oichp,prev_oi,volume
0,0.0,1475.3,RELIANCE INDUSTRIES LTD,RELIANCE,NSE,1478.4,1.4,0.09,10100000002885,1475.30,4.7,0.32,,-1,NSE:RELIANCE-EQ,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1011260127157151,0.05,0.0,0.00,PE,860,NSE:RELIANCE26JAN860PE,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1011260127157150,613.25,0.0,0.00,CE,860,NSE:RELIANCE26JAN860CE,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1011260127157152,593.35,0.0,0.00,CE,880,NSE:RELIANCE26JAN880CE,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1011260127157153,0.05,0.0,0.00,PE,880,NSE:RELIANCE26JAN880PE,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1011260127136547,0.05,0.0,0.00,CE,1960,NSE:RELIANCE26JAN1960CE,0.0,0.0,0.0,0.0,0.0
199,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1011260127131456,0.05,0.0,0.00,CE,1980,NSE:RELIANCE26JAN1980CE,0.0,0.0,0.0,0.0,0.0
200,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1011260127131457,503.30,0.0,0.00,PE,1980,NSE:RELIANCE26JAN1980PE,0.0,0.0,0.0,0.0,0.0
201,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1011260127136549,0.05,0.0,0.00,CE,2000,NSE:RELIANCE26JAN2000CE,0.0,0.0,0.0,0.0,0.0
202,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1011260127136550,523.25,0.0,0.00,PE,2000,NSE:RELIANCE26JAN2000PE,0.0,0.0,0.0,0.0,0.0

In [38]:
ocdf.iloc[100]

ask                               24.35
bid                                24.1
description                         NaN
ex_symbol                           NaN
exchange                            NaN
fp                                  NaN
fpch                                NaN
fpchp                               NaN
fyToken                1011260127131238
ltp                                24.5
ltpch                             -1.15
ltpchp                            -4.48
option_type                          PE
strike_price                       1470
symbol          NSE:RELIANCE26JAN1470PE
oi                            1368000.0
oich                            88500.0
oichp                              6.92
prev_oi                       1279500.0
volume                        5483000.0
Name: 100, dtype: object

In [42]:
history = await client.get_history(symbol='NSE:RELIANCE26JAN1470PE', resolution="1", date_format=1, range_from='2026-01-01', range_to='2026-01-10', cont_flag=1)

In [43]:
history.dataframe

           epoch   open   high    low  close  volume                  datetime
0     1767239220   2.25   2.25   2.25   2.25    1500 2026-01-01 09:17:00+05:30
1     1767239280   2.25   2.45   2.25   2.35    2000 2026-01-01 09:18:00+05:30
2     1767239340   2.35   2.35   2.35   2.35       0 2026-01-01 09:19:00+05:30
3     1767239400   2.35   2.40   2.35   2.40    3000 2026-01-01 09:20:00+05:30
4     1767239460   2.40   2.40   2.35   2.35    2000 2026-01-01 09:21:00+05:30
...          ...    ...    ...    ...    ...     ...                       ...
2983  1767952500  24.70  24.70  24.55  24.60    7000 2026-01-09 15:25:00+05:30
2984  1767952560  24.50  24.80  24.45  24.65   21000 2026-01-09 15:26:00+05:30
2985  1767952620  24.45  24.80  24.15  24.45   35500 2026-01-09 15:27:00+05:30
2986  1767952680  24.45  24.80  24.25  24.30   19500 2026-01-09 15:28:00+05:30
2987  1767952740  24.40  24.50  24.20  24.50    7000 2026-01-09 15:29:00+05:30

[2988 rows x 7 columns]

In [44]:
history = history.dataframe

In [45]:
history['time'] = pd.to_datetime(history['epoch'], unit='s')

In [46]:
history

,epoch,open,high,low,close,volume,datetime,time
0,1767239220,2.25,2.25,2.25,2.25,1500,2026-01-01 09:17:00+05:30,2026-01-01 03:47:00
1,1767239280,2.25,2.45,2.25,2.35,2000,2026-01-01 09:18:00+05:30,2026-01-01 03:48:00
2,1767239340,2.35,2.35,2.35,2.35,0,2026-01-01 09:19:00+05:30,2026-01-01 03:49:00
3,1767239400,2.35,2.40,2.35,2.40,3000,2026-01-01 09:20:00+05:30,2026-01-01 03:50:00
4,1767239460,2.40,2.40,2.35,2.35,2000,2026-01-01 09:21:00+05:30,2026-01-01 03:51:00
...,...,...,...,...,...,...,...,...
2983,1767952500,24.70,24.70,24.55,24.60,7000,2026-01-09 15:25:00+05:30,2026-01-09 09:55:00
2984,1767952560,24.50,24.80,24.45,24.65,21000,2026-01-09 15:26:00+05:30,2026-01-09 09:56:00
2985,1767952620,24.45,24.80,24.15,24.45,35500,2026-01-09 15:27:00+05:30,2026-01-09 09:57:00
2986,1767952680,24.45,24.80,24.25,24.30,19500,2026-01-09 15:28:00+05:30,2026-01-09 09:58:00
2987,1767952740,24.40,24.50,24.20,24.50,7000,2026-01-09 15:29:00+05:30,2026-01-09 09:59:00

In [47]:
fig = go.Figure(
    data=[go.Candlestick(x=history['time'], open=history['open'], high=history['high'], low=history['low'], close=history['close'])]
)

In [48]:
fig.show()

In [11]:
await client.get_profile()

ProfileResponse(s='ok', code=200, message='', data=ProfileData(name='SATYAJIT GHANA', display_name=None, fy_id='XS68198', image=None, email_id='sxxxxxxxxxxxx7@gmail.com', pan=None, pin_change_date='10-01-2023 15:38:12', pwd_change_date=None, mobile_number='78xxxxxx65', totp=False, pwd_to_expire=90, ddpi_enabled=False, mtf_enabled=False))

In [10]:
await client.get_holdings()

HoldingsResponse(s='ok', code=200, message='', holdings=[], overall=HoldingsOverall(count_total=0, total_investment=0.0, total_current_value=0.0, total_pl=0.0, pnl_perc=0.0))

In [9]:
await client.get_market_status()

MarketStatusResponse(s='ok', code=200, message='', marketStatus=[MarketStatusItem(exchange=10, market_type='NORMAL', segment=11, status='OPEN'), MarketStatusItem(exchange=10, market_type='NORMAL', segment=20, status='OPEN'), MarketStatusItem(exchange=10, market_type='NORMAL', segment=12, status='OPEN'), MarketStatusItem(exchange=10, market_type='NORMAL', segment=10, status='OPEN'), MarketStatusItem(exchange=10, market_type='BLOCK_DEAL', segment=10, status='CLOSED'), MarketStatusItem(exchange=10, market_type='ODD_LOT', segment=10, status='OPEN'), MarketStatusItem(exchange=10, market_type='CALL_AUCTION2', segment=10, status='CLOSED'), MarketStatusItem(exchange=10, market_type='AUCTION', segment=10, status='CLOSED'), MarketStatusItem(exchange=11, market_type='NORMAL', segment=20, status='OPEN'), MarketStatusItem(exchange=12, market_type='NORMAL', segment=10, status='OPEN'), MarketStatusItem(exchange=12, market_type='NORMAL', segment=12, status='OPEN'), MarketStatusItem(exchange=12, market_type='NORMAL', segment=11, status='OPEN'), MarketStatusItem(exchange=12, market_type='AUCTION', segment=10, status='CLOSED')])

In [52]:
client.get_rate_limit_status()

{'second': {'count': 0, 'limit': 10, 'remaining': 10, 'usage_percent': 0.0},
 'minute': {'count': 0, 'limit': 200, 'remaining': 200, 'usage_percent': 0.0},
 'day': {'count': 13,
  'limit': 100000,
  'remaining': 99987,
  'usage_percent': 0.01,
  'is_limit_reached': False},
 'current_day': '2026-01-10'}